// _colors.scss
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f;
$white-color: #fff;
$black-color: #000;
$gray-color: #6c757d;
$main-bc: #ae62e7;
$main-bc-light: #cba6e6;
$main-ant-input-outlined: #f5ecfb;
$border-margin-color: rgba(255, 255, 255, 0.3);
