@import "../../untils/sass/base/colors.scss";

.login {
  width: 100%;
  height: 100%;
  .form-login {
    position: relative;
    top: 100px;
    left: 750px;
    width: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    :where(.css-dev-only-do-not-override-p8b6i).ant-input-outlined {
      background: $main-ant-input-outlined;
      border-color: $main-ant-input-outlined;
    }
    :where(.css-dev-only-do-not-override-p8b6i).ant-checkbox-checked
      .ant-checkbox-inner {
      background-color: $main-bc;
      border-color: $main-bc;
    }
    :where(
        .css-dev-only-do-not-override-p8b6i
      ).ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover
      .ant-checkbox-inner,
    :where(.css-dev-only-do-not-override-p8b6i).ant-checkbox-checked:not(
        .ant-checkbox-disabled
      ):hover
      .ant-checkbox-inner {
      background-color: $main-bc;
      border-color: transparent;
    }
    :where(.css-dev-only-do-not-override-p8b6i).ant-checkbox:not(
        .ant-checkbox-disabled
      ):hover
      .ant-checkbox-inner {
      border-color: $main-bc;
    }
  }
}
